/*RESET*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* SPLASH */

.box__splash_background {
    background-image: url(/mindiApp/mindiApp/Background/background.svg);
    background-repeat: no-repeat;
    position: relative;
    width: 100vw;
    height: 100vh;
    resize: auto;
    background-size: cover;
}

.img__splash_logo {
    position: absolute;
    top: 35%;
    left: calc(50% - 190px);
    height: 420px;
}

.rotate {
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}


/* LOGIN */

.login__background {
    background-image: url(/mindiApp/mindiApp/Background/background_login_1.svg), url(/mindiApp/mindiApp/Background/background_login_2.svg);
    position: relative;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    resize: auto;
    background-size: cover;
}

.login__container {
    margin: auto;
    position: absolute;
    width: 700px;
    height: 900px;
    left: 15%;
    top: 34%;
    border: 0px;
    vertical-align: middle;
    /* border: 3px solid red; */
}

* .login__box1 {
    top: 0;
    /* border: 3px solid blue; */
    float: center;
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-align: center;
    padding: 25px;
}

.login__box1-1 {
    font-size: 90px;
    line-height: 45px;
    padding: 21px;
}

.login__box1-2 {
    padding: 4px;
    font-size: 29px;
    line-height: 44px;
    letter-spacing: 1.6px;
    color: rgba(50, 206, 255, 1);
}

* .login__box2 {
    padding: 20px;
    /* border: 3px solid green; */
}

.login__box2_formulario input[type="email"],
.login__box2_formulario input[type="senha"] {
    display: block;
    margin: auto;
    padding: 8px;
    border: 1px rgba(50, 206, 255, 1);
    border-bottom-style: ridge;
    width: 350px;
    font-size: 20px;
}

.login__box2_formulario_entrar {
    /* text-align: -webkit-center; */
    top: 293px;
    /* border: 3px solid black; */
    padding: 20px;
    display: flex;
    float: right;
    width: 247px;
}

.login__box2_formulario_entrar input[type="submit"] {
    display: inline-flex;
    border: 0px;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.5;
    padding: 4px;
    cursor: pointer;
    height: 43px;
    background-color: white;
    margin-right: 7px;
}

#imgSetaLogin {
    width: 45px;
    position: absolute;
    margin-right: auto;
}

.login__box3 {
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top: 410px;
    /* border: 3px solid yellow; */
    width: 694px;
    text-align: -webkit-center;
    padding: 20px;
}

.login__box3_1 {
    font-size: 21px;
    text-align: center;
    padding: initial;
    color: darkgrey;
    /* border: 3px solid rebeccapurple; */
}

.login__box3_google {
    font-size: 20px;
    box-shadow: 4px 7px 10px rgb(90 94 90 / 10%);
    width: 300px;
    background-image: url(../Icons/google.svg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: 60px;
    text-indent: 40px;
    padding: 7px;
    border-radius: 40px;
    font-weight: bold;
}

.login__box3_apple {
    font-size: 20px;
    box-shadow: 4px 7px 10px rgb(90 94 90 / 10%);
    width: 300px;
    background-image: url(../Icons/apple.svg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: 60px;
    text-indent: 40px;
    padding: 7px;
    border-radius: 40px;
    font-weight: bold;
}

.login__box4 {
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top: 710px;
    width: 694px;
    padding: 10px;
    justify-content: center;
    display: flex;
    text-align: center;
    /* border: 3px solid rebeccapurple; */
}

.login__box4_criarConta {
    font-size: 18px;
    width: 180px;
    float: left;
    display: block;
    margin: auto;
    padding: 8px;
    border: 2px rgba(50, 206, 255, 1);
    border-bottom-style: ridge;
    font-weight: bold;
}

.login__box4_esqueciSenha {
    font-size: 18px;
    width: 180px;
    float: right;
    display: block;
    margin: auto;
    padding: 8px;
    border: 2px rgba(50, 206, 255, 1);
    border-bottom-style: ridge;
    font-weight: bold;
}