/*RESET*/


/*Para colocar algo em todos os elementos, utilizar o asteristico*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*,
input,
button {
    font-family: Arial, sans-serif, verdana;
}


/*STYLES*/


/*header*/

.menu {
    height: 48px;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    /*Fala que o conteúdo dele vai ter o max de espaçamento entre a esquerda e a direita*/
}

.menu__section {
    display: flex;
    align-items: center;
    /*para deixar tudo na mesma linha*/
}

.menu__section.left .menu__icon {
    padding: 12px 16px;
}

.menu__link {
    text-transform: uppercase;
    /*transformar td em maiusculo*/
    font-size: 12px;
    font-weight: 600;
    color: #757575;
    padding: 12px 8px;
}

.menu__link.active {
    color: #4285f4;
    border-bottom: 2px solid #4285f4;
}

.menu__link:not(.active) {
    margin-bottom: 2px;
    /*Diz que todos os links que nãi estiverem ativos terão uma margin botton do mesmo tamanho do de cima*/
}

.menu__section.rigth {
    margin-right: 4px;
}

.menu__section.rigth .menu__icon {
    padding: 12px;
}